
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
}
@section head {
    <link href="~/css/profile.css" rel="stylesheet" />
    <style>
        .cahnge-pass{
            background-color:blue;
            padding:5px 10px;
        }
    </style>
}
<div class="sidenav">
    <div class="profile">
        <i class="fa-solid fa-user"></i>

        <div class="name">
            Mohammad Ammar
        </div>
    </div>
    <hr>

    <div class="sidenav-url">
        <div class="url">
            <a href="#profile" class="active"><i class="fa-solid fa-user"></i> Profile</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="#settings"><i class="fa-solid fa-box"></i> Manage Order</a>
            <hr align="center">
        </div>
        <div class="url">
            <a href="#settings"><i class="fa-solid fa-location-dot"></i> Manage Address</a>
            <hr align="center">
        </div>
        <div class="url">
            <a asp-action="Logout"><i class="fa-solid fa-right-from-bracket"></i> Logout</a>
            <hr align="center">
        </div>

    </div>
</div>
<!-- End -->
<!-- Main -->
<div class="main">
    <h2>PERSONAL INFORMATION!</h2>
    <div class="card">
        <div class="card-body">
            
            <table>
                <tbody>
                   
                  
                 <form asp-action="ChangePassword" method="post">

                    <tr>
                        <td>Enter Old Password</td>
                        <td>:</td>
                        <td><input type="password" name="oldpass" placeholder="Enter Old Password" class="form-control" /></td>
                        
                    </tr>
                    <tr>
                        <td>Enter New Password</td>
                        <td>:</td>
                        <td><input type="password" name="newpass" placeholder="Enter New Password" class="form-control" /></td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>:</td>
                        <td><input type="password" name="confirmpass" placeholder="Confirm New Password" class="form-control" /></td>
                    </tr>                  
                    <tr>
                        <td><p style="color:red;">@TempData["msg"]</p></td>
                        <td></td>
                        <td><button style="color:white;border-radius:5px;background-color:blue;padding:5px 10px;">Change</button></td>
                    </tr>
                 </form>
                    

                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- End -->
