@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
}

@section head{
    <style>
        .search-email {
            height: 50vh;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction:column;
        }

        .email-box {
            display: flex;
            align-items: center;
            justify-content: center;
            /* height: 60px; */
            border: 1px solid black;
            border-radius: 5px;
            overflow: hidden;
        }

            .email-box button {
                padding: 5px 10px;
                background-color: blue;
                color: white;
                text-decoration: none;
                border:none;
                outline:none;
            }

            .email-box input {
                border: none;
                outline: none;
                width: 400px;
                padding-left: 15px;
                background-color:transparent;
            }
    </style>
}


<form asp-action="ForgotPassword" method="post">
    <div class="search-email">
        <div class="email-box">
            <input type="email" name="email" placeholder="Enter your register email" required>
            <button>Send OTP</button>
        </div>
        <p style="color:red;">@TempData["msg"]</p>
    </div>
</form>

