@model IEnumerable<Ecommerce.Models.shoescollection>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_WebsiteLayout";
}

@section head{
    <link href="~/css/shoescollection.css" rel="stylesheet" />
}

<div class="shoes-header-image">
    <img src="https://thirdbridge.com/wp-content/uploads/2021/12/688.jpg" alt="">
    <h4>Buy Branded Shoes For <br>Men, Women & Kids At Up To 60% Off</h4>
    <a href="#nike">GO>></a>
</div>

<div class="product-shoes-main-card" id="nike">

    @foreach(var x in Model)
    {
        <a href="#" style="text-decoration: none; color: black;" class="hvr-float ">
            <div class="product-shoes-card">
                <div class="product-shoes-image">
                    <img src="~/shoescollection/@x.image" alt="shoes..">
                </div>

                <div class="product-shoes-name">
                    <h3>@x.name</h3>
                </div>

                <div class="product-shoes-price">
                    <div class="pricee">

                        <div class="product-shoes-price1">
                            <p>₹@x.price1</p>
                        </div>

                        <div class="product-shoes-price2">
                            <p>₹@x.price2</p>
                        </div>

                    </div>

                    <div class="product-shoes-discount">
                        <p>@x.discount% off</p>
                    </div>

                </div>

                <div class="-shoes-star">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star" style="color: gray;"></i>
                </div>

                <div class="shoes-buttons">
                    <a href="#" class="shoes-buy-btn">Buy Now</a>
                    <a href="#" class="shoes-cart-btn">Add <i class="fa-solid fa-cart-shopping"></i></a>
                </div>

            </div>
        </a>

    }
   
    

</div>
